$primary: #6668ab;

:root {
  --primary-color: #6668ab;
  --caption-color: #86909c;

  --text1: #18191c;
  --text2: #61666d;
  --text3: #9499a0;
  --text4: #c9ccd0;

  --bg1: #ffffff;
  --bg2: #f6f7f8;
  --bg3: #f1f2f3;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
