$primary: #6668ab;

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

:root {
  --primary-color: #6668ab;
  --caption-color: #86909c;

  --text1: #18191c;
  --text2: #61666d;
  --text3: #9499a0;
  --text4: #c9ccd0;
}

.font-family-logo {
  font-family: 'Nanum Pen Script';
}
