@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  --theme: #006aa6;
  --second: #006aa633;
  --bg: #f6f9fa;
}

[pointer] {
  cursor: pointer;
  user-select: none;
}

input[type='text']:read-only,
textarea:read-only {
  cursor: not-allowed;
  opacity: 0.2;
}

button:disabled {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  height: 6px;
  width: 8px;
  background-color: var(--second);
}

::-webkit-scrollbar-thumb {
  background: var(--second);
}

th {
  font-weight: normal;
}

.primary-color {
  color: var(--theme);
}

@media (max-width: 1024px) {
  #app > nav {
    display: none;
  }
  #app main {
    padding-left: 20px;
    padding-right: 20px;
  }
}
