.video-info {
  margin-bottom: -10px;
  display: flex;
  align-items: flex-end;

  .video-author {
    margin-right: 0.5em;
    > img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f4f4f4;
    }
  }

  &__title {
    // margin-top: 20px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text1);
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .video-meta {
    font-size: 13px;
    color: #9499a0;
    color: var(--text3);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 24px;
    line-height: 18px;
    > img {
      border-radius: 50%;
    }
    > svg,
    > img {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }
    > span {
      display: inline-flex;
      align-items: center;
      margin-right: 12px;
    }
  }
}

.player-header {
  display: flex;
  position: relative;
  margin: 1.5em auto 0.5em;
  max-width: 1660px;
  min-width: 988px;
  padding-right: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  &__player {
    width: 100%;
  }

  &__r {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;

    .eplist_module {
      height: 100%;
      position: relative;
      background-color: #f4f4f4;
      border-radius: 2px;
      display: flex;
      flex-direction: column;

      .list-title {
        height: 42px;
        padding: 0 16px;

        h4 {
          height: 42px;
          line-height: 42px;
          font-size: 16px;
          color: #212121;
          font-weight: 400;
          max-width: 220px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
        }
        .ep-list-progress {
          float: right;
          display: block;
          float: right;
          height: 42px;
          line-height: 42px;
          font-size: 12px;
          color: #999;
        }
      }
      .list-wrapper {
        height: 100%;
        padding: 16px;
        //display: flex;
        //align-items: center;
        //justify-content: center;

        ul {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px;
        }

        .list-item {
          width: 64px;
          height: 36px;
          line-height: 36px;
          background-color: #fff;
          border: 1px solid #e5e9ef;
          padding: 0;
          text-align: center;
          -webkit-transition: none;
          -o-transition: none;
          transition: none;
          overflow: visible;
          opacity: 1;
          color: #222;

          &.cursor {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: #fff;
          }

          &:not(.cursor) {
            &:hover {
              border-color: var(--primary-color);
              color: var(--primary-color);
            }
          }

          > span {
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 36px;
            line-height: 36px;
            display: block;
          }
        }
      }
    }
  }
}

.player-body {
  &__meta {
    overflow: hidden;
    margin: 20px auto;
    word-break: break-all;
    display: flex;

    img {
      width: 134px;
      height: 179px;
      border-radius: 2px;
      background-color: #f4f5f7;
    }
    > div {
      padding-left: 10px;
      word-break: break-all;
    }
    h3 {
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      color: #212121;
      font-weight: 500;
      margin-top: 4px;
      margin-bottom: 16px;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.video-comment {
  margin: 2em auto;
  padding-right: 350px;

  .video-comment-edit {
    display: flex;
    margin-bottom: 1em;
    align-items: flex-start;

    &__avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f4f4f4;
      margin-right: 1em;
    }
    &__input {
      display: inline-block;
      box-sizing: border-box;
      background-color: var(--bg3);
      border: 1px solid var(--bg3);
      overflow: auto;
      border-radius: 6px;
      color: var(--text1);
      width: 100%;
      height: 50px;
      transition: 0.2s;
      padding: 5px 10px;
      line-height: 38px;
      outline: none;
      vertical-align: middle;
      resize: none;

      &:focus {
        border-color: var(--primary-color);
        height: 100px;
        box-shadow: 0 0 0 0.125em rgb(102 104 171 / 25%);
        // box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
      }
    }
  }

  &__title > h4 {
    display: block !important;
    margin-right: 6px;
    line-height: 34px;
    color: var(--text1);
    pointer-events: none;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0.3em;
  }

  .comment-item + .comment-item {
    border-top: 1px solid #e5e9ef;
    padding: 1em 0;
  }

  .comment-item__head {
    display: flex;
    align-items: center;

    .comment-item {
      &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f4f4f4;
        display: flex;
        margin-right: 0.5em;
      }

      &__name {
        color: var(--text2);
        cursor: pointer;
      }
      &__time {
        font-size: 0.8em;
        color: var(--text3);
      }
    }
  }
  .comment-item__content {
    font-size: 0.9em;
    line-height: 1.8em;
    text-shadow: none;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    margin: 4px auto 4px 46px;
    color: var(--text1);
  }
}

@media screen and (max-width: 991px) {
  .player-header {
    & {
      min-width: 100%;
      flex-direction: column;
      padding-right: 0px;
      margin: 10px auto;

      &__player.empty {
        height: 200px !important;
        line-height: 200px !important;
      }

      .upv-player {
        min-height: auto;
      }

      &__r {
        margin-top: 10px;
        position: relative;
        width: 100%;
      }
    }
  }
  .video-comment {
    margin: 1em auto;
  }
  .video-comment-edit {
    zoom: 0.7;
  }
}
