@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$primary: #6668ab;

@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/title.sass';

// @import '../node_modules/bulma/sass/elements/container.sass';
// @import '../node_modules/bulma/sass/form/_all.sass';
// @import '../node_modules/bulma/sass/layout/hero.sass';
// @import '../node_modules/bulma/sass/layout/section.sass';

:root {
  --primary-color: #6668ab;
  --caption-color: #86909c;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, sans-serif;
}

html {
  overflow-y: auto;
}

.empty {
  color: var(--caption-color);
}
